<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    
    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

            <!-- Mensajes flash -->
            <% if (messages.success) { %>
                <p class="success-message"><%= messages.success %></p>
            <% } %>

            <% if (messages.error) { %>
                <p class="error-message"><%= messages.error %></p>
            <% } %>

            <main>
                <%- body %>
            </main>

            <%- include('../partials/footer') %>
        </div>
    </body>
</html>
